body {
  background-color: #242629;
  color: #fffffe;

  margin: 50px;
  border: 25px;
  display: block;
  overflow: scroll
}

h1 {
  font: 3em zpix;
}

h2 u{
  font: 1.5rem zpix;
  text-decoration: underline dotted #94a1b2;
}

li {
  display: block;
  list-style: none;
 }


a , li{
  color: #94a1b2;
 }

.Game ul li{
  display: inline;
}